.filter {
  margin: 10px;
  border: solid 2px;
  border-radius: 5;
}
.bodycomp {
  background-color: rgb(196, 211, 206);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.rest_container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
#logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  list-style: none;
  padding: 20px;
}
.headcomp {
  background-color: rgb(195, 166, 175);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 1000;
  display: flex;
  justify-content: space-between;
}

.footcomp > ul {
  background-color: bisque;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
}
.footcomp > ul > li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  list-style-type: none;
}
.restcard {
  border: 0.5px solid rgb(186, 171, 155);
  margin: 25px;
  padding: 2;
  width: 190px;
}
.restcard:hover {
  transition: 0.7s;
  border: 0.5px solid rgb(169, 7, 7);
  cursor: pointer;
}
.restdetails {
  padding: 5px;
  margin-top: 10px;
}

#dishpicture {
  width: 190px;
  height: 140px;
}
.shimmer-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.shimmer-cards {
  width: 190px;
  height: 280px;
  margin: 25px;
  padding: 2;
  background-color: #f0f0f0;
}
.shimmerdish-pic {
  width: 190px;
  height: 130px;
  background-color: rgb(214, 207, 207);
}
.login-btn {
  background-color: rgb(124, 126, 237);
  margin: 0 20;
}
.MenuPic {
  width: 30px;
  height: 30px;
}
